<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Poczta Int.pl Tests">
    <test name="LoginTests">
        <classes>
            <class name="tests.login_tests.InvalidPassword"/>
            <class name="tests.login_tests.InvalidAccountName"/>
            <class name="tests.login_tests.ValidAccountNameAndPassword"/>
            <class name="tests.login_tests.GoToHelpPage"/>
        </classes>
    </test>
    <test name="NewMessageTests">
        <classes>
            <class name="tests.new_message_tests.WriteMessageTests"/>
            <class name="tests.new_message_tests.SaveMessageAsADraft"/>
        </classes>
    </test>
</suite>