<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Poczta Int.pl Tests">
    <test name="LoginTests">
        <classes>
            <class name="tests.login_tests.InvalidPasswordTest"/>
            <class name="tests.login_tests.InvalidLoginTest"/>
            <class name="tests.login_tests.ValidLoginAndPasswordTest"/>
            <class name="tests.login_tests.GoToHelpPageTest"/>
        </classes>
    </test>
    <test name="NewMessageTests">
        <classes>
            <class name="tests.new_message_tests.SendEmailWithAttachmentTest"/>
            <class name="tests.new_message_tests.ResizePopupTest"/>
            <class name="tests.new_message_tests.SaveMessageAsADraftTest"/>
            <class name="tests.new_message_tests.SendEmailWithoutRecipientTest"/>
            <class name="tests.new_message_tests.SendEmailWithoutAttachmentTest"/>
            <class name="tests.new_message_tests.SendCcAndBccCopyTest"/>
            <class name="tests.new_message_tests.AlignTextTest"/>
            <class name="tests.new_message_tests.BoldFontTest"/>
            <class name="tests.new_message_tests.FontColorTest"/>
            <class name="tests.new_message_tests.FontSizeTest"/>
            <class name="tests.new_message_tests.FontStyleTest"/>
            <class name="tests.new_message_tests.ItalicFontTest"/>
            <class name="tests.new_message_tests.ListTextTest"/>
            <class name="tests.new_message_tests.TextStationeryTest"/>
            <class name="tests.new_message_tests.UnderlineFontTest"/>
            <class name="tests.new_message_tests.AttachFileTest"/>
            <class name="tests.new_message_tests.InsertImageTest"/>
        </classes>
    </test>
</suite>