<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Poczta Int.pl Tests">
    <test name="LoginTests">
        <classes>
            <class name="tests.login_tests_TC.InvalidPasswordTC"/>
            <class name="tests.login_tests_TC.InvalidLoginTC"/>
            <class name="tests.login_tests_TC.ValidLoginAndPasswordTC"/>
            <class name="tests.login_tests_TC.GoToHelpPageTC"/>
        </classes>
    </test>
    <test name="NewMessageTests">
        <classes>
            <class name="tests.new_message_tests_TC.SendEmailWithAttachmentTC"/>
            <class name="tests.new_message_tests_TC.ResizePopupTC"/>
            <class name="tests.new_message_tests_TC.SaveMessageAsADraftTC"/>
            <class name="tests.new_message_tests_TC.SendEmailWithoutRecipientTC"/>
            <class name="tests.new_message_tests_TC.SendEmailWithoutAttachmentTC"/>
            <class name="tests.new_message_tests_TC.SendCcAndBccCopyTC"/>
            <class name="tests.new_message_tests_TC.AlignTextTC"/>
            <class name="tests.new_message_tests_TC.BoldFontTC"/>
            <class name="tests.new_message_tests_TC.FontColorTC"/>
            <class name="tests.new_message_tests_TC.FontSizeTC"/>
            <class name="tests.new_message_tests_TC.FontStyleTC"/>
            <class name="tests.new_message_tests_TC.ItalicFontTC"/>
            <class name="tests.new_message_tests_TC.ListTextTC"/>
            <class name="tests.new_message_tests_TC.TextStationeryTC"/>
            <class name="tests.new_message_tests_TC.UnderlineFontTC"/>
            <class name="tests.new_message_tests_TC.AttachFileTC"/>
            <class name="tests.new_message_tests_TC.InsertImageTC"/>
        </classes>
    </test>
</suite>